body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

#app {
  background-color: white;
  height: 100vh;
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
