html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #050505 -16.52%, #16161b 107.81%), #16161b;
  color: #e8e9e9;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 150%;
}

#app {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  cursor: default;
}

.material-icons.md-3 {
  font-size: calc(3px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.material-icons.md-8 {
  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.material-icons.md-12 {
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.material-icons.md-14 {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.material-icons.md-16 {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.material-icons.md-24 {
  font-size: calc(24px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
